body {
    background-color: #cec9db;
}
h1 {
    color: white;
}
h3 {
    font-family: "DynaPuff", system-ui;
    font-size: 25px;
}
p {
    font-family: Helvetica;
}


.header-flex {
    display: flex;
}
.header {

    
    flex: 100%;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    
    font-family: "DynaPuff", system-ui;
    font-size: 35px;

    background-image: url(title3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-clip: padding-box;
}


.body-flex {
    display: flex;
}

.navigation {

    background-image: url(sidebar.png);

    background-size: 100%;
    background-repeat: no-repeat;
    background-clip: padding-box;

    flex: 5%;
    padding: 5px;
    
}

.navigation a {

    font-size: 18px;

    font-family: Helvetica;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: right;
    
}

.navigation a:hover {
    color: #859f84;
}

.about {
    display: flex;
    flex: 60%;
    padding: 20px;
}

.aboutme {
    background-image: url(aboutpng.png);

    background-size: 100%;
    background-repeat: no-repeat;
    background-clip: padding-box;


    flex: 10%;
    padding-right: 50px;
    padding-left: 50px;
    

}

.imageone {
    flex: 30%;
    padding-right: 00px;
    padding-left: 10px;
}

.bodytwo-flex {
    display: flex;
    flex: 60%;
    padding: 20px;
    flex-direction: column;
}

.techskill{
    background-image: url(bgone.png);
    background-size: contain;
    background-repeat: no-repeat;
}

img {
    border-radius: 30px;
}

